* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "poppins";
    background-color: #e0e7ff;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    color: rgb(255, 255, 255);
    background-color: #8667f2;
    height: 70px;
  }
  
  .header-logo img {
    width: 50px;
    height: 50px;
    border-radius: 5px 5px 50px 50px;
    margin-top: 15px;
    margin-left: 50px;
    margin-bottom: 10px;
    margin-right: 50px;
  }
  
  .navbar {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  
  .navbar ul {
    text-align: center;
    display: flex;
    gap: 4rem;
    font-size: 20px;
    justify-content: center;
  }
  
  .navbar ul li {
    list-style: none;
    overflow: hidden;
  }
  
  .navbar ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: 400ms;
    font-size: 20px;
    float: left;
    display: block;
    text-align: center;
    padding: 7px 15px;
    text-decoration: none;
    font-size: 17px;
    border-bottom: 3px solid transparent;
  }
  
  .navbar ul li a:hover {
    background-color: #fffdfd;
    border-radius: 10px;
    color: #8667f2;
    border-bottom: 5px solid rgb(0, 0, 0);
  }
  
  .bx-menu {
    display: none;
    font-size: 0;
  }
  
  .hide-hamburger {
    display: none;
  }
  
  .hide-profil {
    display: none;
  }
  
  .logout {
    display: flex;
    width: 100px;
    height: 40px;
    background-color: #fffdfd;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    position: absolute; 
    color: #8667f2;
    border: 2px solid black;
    right: 30px;
    top: 70px;
  }
  
  .logout a {
    text-decoration: none;
  }
  
  .header a img {
    width: 50px;
    margin-right: 50px;
  }
  
  
  /* Responsive */ 
  @media (max-width : 568px) {
  
    .hamburger {
      position: fixed;
      height: 100vh;
      background-color: #8667f2;
      flex-direction: column;
      gap: 150px;
      z-index: 100;
      width: 40%;
      align-items: center;
      display: flex;
      margin-top: -50px;
    }
    
    .hamburger b {
      border-radius: 10px;
    }
    
    .hamburger a {
      text-decoration: none;
      color: white;
    }
    
    .hamburger .menu {
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      gap: 50px;
      
    }
  
    .menu img {
      width: 70px;
      margin-left: 14px;
      cursor: pointer;
    }
  
    .login {
      display: none;
    }
  
    .navbar ul {
      display: none;
    }
  
    .header {
      display: flex;
      justify-content: center;
      align-items: center;
      height:50px;
    }
  
    .header-logo img {
      width: 35px;
      height: 35px;
      margin-left: 200px;}
  
    .bx-menu {
      display: flex;
      margin-left: 40px;
      font-size: 30px;
    }
  
    .video {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    .video iframe {
      width: 100%;
      height: 100%;
    }
  
  }
  
  @media (min-width: 768px) and (max-width: 768px) {

    .hitung-ip {
      height: 105vh;
    }
  
    .hitung-ip table{
      width: 82%;
    }
  
    .hitung-ip table thead {
      font-size: 15px;
    }
  
    .hitung-ip table tbody tr td select {
      font-size: 10px;
      width: 90%;
    }
  
  
    .hitung-ip table tbody tr td #sks {
      width: 90%;
      margin-right: 50px; 
    }
  
  
    .input input[type=text] {
      width: 80%;
    }
  
    .hamburger {
      position: fixed;
      height: 100vh;
      background-color: #8667f2;
      flex-direction: column;
      gap: 150px;
      z-index: 100;
      width: 40%;
      align-items: center;
      display: flex;
      margin-top: -50px;
    }
    
    .hamburger b {
      border-radius: 10px;
    }
    
    .hamburger a {
      text-decoration: none;
      color: white;
    }
    
    .hamburger .menu {
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      gap: 60px;
    }
  
    .menu img {
      width: 70px;
      margin-top: 20px;
    }
  
    .login {
      display: none;
    }
  
    .navbar ul {
      display: none;
    }
  
    .header {
      display: flex;
      justify-content: center;
      align-items: center;
      height:70px;
    }
  
    .header i {
      font-size: 40px;
      margin-left: 40px;
    }
  
    .header-logo img {
      width: 50px;
      height: 50px;
      margin-left: 590px;}
  
    .bx-menu {
      display: flex;
      margin-left: 40px;
      font-size: 30px;
    }
  
    .video {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    .video iframe {
      width: 100%;
      height: 100%;
    }
  }
  
  
  .profil-matkul {
    height: 170px;
    margin: 30px 50px;
    border-radius: 10px;
    backdrop-filter: blur(500rem);
    background-color: transparent;
    border: 1px solid white;
    box-shadow: rgb(0, 0, 0) 3px 3px 3px;
  }
  
  .profil-matkul img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
  
  .deskripsi-matkul div {
    margin-top: 10px;
  }
  
  .deskripsi-matkul nav {
    position: absolute;
    background-color: #8667f2;
    margin: 0px 0px;
    border-radius: 10px;
    padding: 0px 10px;
    color: white;
    text-align: center;
  }
  
  .gambar1 img {
    width: 100%;
    height: 100%;
    border-radius: 10px 10px;
  }
  
  .deskripsi-matkul {
    border: 1px solid white;
    margin: 30px 50px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: rgb(0, 0, 0) 2px 2px 2px;
  }
  
  .deskripsi-matkul p {
    margin: 20px;
  }
  
  .forum-diskusi {
    height: 600px;
    border: 1px solid white;
    margin: 0px 50px;
    border-radius: 10px;
    background-color: #fff;
    overflow: auto;
    display: flex;
    flex-direction: column;
    box-shadow: rgb(0, 0, 0) 2px 2px 2px;
  }
  
  .form {
    position: sticky;
    bottom: 0px;
    margin: 20px 0px;
    padding: 20px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    gap: 4px;
  }
  
  .form input[type="text"] {
    height: 30px;
    padding: 10px;
    width: 90%;
    border-radius: 10px;
    font-size: 15px;
    background-color: #e0e7ff;
  }
  
  .form button {
    width: 100px;
    height: 30px;
    width: 10%;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.7s;
    background-color:#e0e7ff;
  }
  
  .form button:hover {
    background-color: #8667f2;
    color: white;
  }
  
  .forum-diskusi section {
    display: flex;
    border-radius: 10px;
    margin: 10px 40px;
    background-color: #8667f2;
    width: auto;
    flex-direction: column;
    color: white;
  }
  
  .forum-diskusi section a {
    margin-left: 40px;
    color: white;
    text-decoration: none;
  }
  
  .forum-diskusi p {
    font-size: 15px;
    margin-left: 15px;
  }
  
  .forum-diskusi b {
    margin: 20px;
  }
  .forum-diskusi h4 {
    font-size: 15px;
    margin-top: 10px;
    margin-left: 15px;
  }
  
  .forum-diskusi .balas {
    margin-left: 100px;
    background-color: #6e6297;
  }
  
  .forum-diskusi nav {
    background-color: #8667f2;
    position: absolute;
    border-radius: 10px;
    color: white;
  }
  
  .forum-diskusi div {
    margin-top: 30px;
  }
  
  .gambar1 h3 {
    text-align: center;
  }
  
  .materi {
    border: 1px solid white;
    margin: 30px 50px;
    margin-bottom: 50px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: rgb(0, 0, 0) 2px 2px 2px;
  }
  
  .materi nav {
    background-color: #8667f2;
    position: absolute;
    border-radius: 10px;
    color: white;
    padding: 0px 10px;
  }
  
  .materi section {
    margin: 30px 20px;
    padding: 10px;
    border-radius: 10px;
    background-color:#e0e7ff;
  }
  
  .materi b {
    margin-left: 10px;
  }
  .materi p {
    margin-left: 10px;
  }
  
  /* Materi download */
  .download {
    display:flex;
    justify-content: center;
    width: 100%;
  }
  
  .container-hover {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .container-hover a {
    display: flex;
    padding: 10px;
    justify-content: center;
    text-align: center;
    align-items: center;
    transition: 2s;
    width: 250px;
    border-radius: 10px;
    font-size: 19px;
    text-decoration: none;
    border: 2px solid white;
    color: #8667f2;
  }
  .container-hover a i {
    margin-top: 3.5px;
  }
  
  .container-hover a:hover {
    color: #fff;
    background-color: #8667f2;
    width: 100%;
  }
  /* Materi download */
  
  .video {
    display: flex;
    justify-content: center;
  }
  
  .video iframe {
    margin: 10px;
    border-radius: 10px;
  }
  /* sabda */
  
  footer {
    width: 100%;
    position: relative;
    bottom: 0;
    background-color: #8667f2;
    padding: 100px 0 30px;
    border-top-left-radius: 200px;
    font-size: 20px;
    line-height: 20px;
    color: #fff;
  }
  footer img {
    width: 120px;
    height: 120px;
    border-radius: 5px 5px 60px 60px;
    margin-bottom: 30px;
    margin-left: 70px;
  }
  
  .row {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
  }
  .colom {
    flex-basis: 25%;
    padding: 10px;
    font-size: 15px;
  }
  .colom:nth-child(2),
  .colom:nth-child(3) {
    flex-basis: 15%;
  }
  .colom h2 {
    width: fit-content;
    margin-bottom: 80px;
    position: relative;
  }
  
  .whatsapp form {
    padding: 10px;
    display: flex;
    justify-content: center;
    background-color: white;
    gap: 5px;
  }
  
  .whatsapp a {
    text-decoration: none;
    display: flex;
  }
  
  .whatsapp a b {
    color: black;
  }
  
  footer ul li {
    list-style: none;
    margin-bottom: 12px;
  }
  footer ul li a {
    text-decoration: none;
    color: #fff;
    transition: 0.7s;
  }
  footer ul li a:hover {
    background-color: #fff;
    color: #8667f2;
    border-radius: 10px;
  }
  form {
    background-color: #fff;
    border-radius: 20px;
    width: 230px;
  }
  input {
    border: none;
    outline: none;
    height: 30px;
    background-color: #fff;
    margin-left: 10px;
    border-radius: 20px;
  }
  button {
    border: none;
    outline: none;
    background: none;
    transition: 0.7s;
    font-size: 15px;
    
  }
  
  button a {
    text-decoration: none;
    color: #8667f2;
    border-radius: 5px;
  }
  /* button:hover {
    background-color: #fff;
    color: #8667f2;
    font-size: 19px;
  } */
  
  .social-media .fab {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #fff;
    margin-right: 15px;
    cursor: pointer;
    margin-top: 20px;
    transition: 0.7s;
  }
  .social-media .fab:hover {
    background: #fff;
    color: #8667f2;
  }
  hr {
    border: 0;
    width: 90%;
    border-bottom: 1px solid #fff;
    align-items: center;
    margin-left: 70px;
    margin-top: 30px;
  }
  
  .copyright {
    text-align: center;
    margin-top: 10px;
  }
  .underline {
    width: 100%;
    height: 5px;
    background-color: #8667f2;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
  }
  .underline span {
    width: 15px;
    height: 100%;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 3s linear infinite;
  }
  
  
  @keyframes moving {
    0% {
      left: -20px;
    }
    100% {
      left: 100%;
    }
  }
  @media (max-width: 576px) {
    .links {
      display: none;
    }
    hr {
      width: 70%;
    }
    .colom1 {
      margin-left: 80px;
    }
    .kartu {
      margin-left: 50px;
      margin-top: 30px;
      margin-right: 50px;
    }
    .header-logo {
      margin-left: 175px;
    }
  }

  /*Animasi Text*/
  .animasi-text {
    font-size: 2em;
    color: #FF00FF;
    animation: timbul 2s ease-in-out infinite alternate;
}

@keyframes timbul {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/*ease-in-out: Animasi mulai lambat, cepat di tengah, dan lambat di akhir.
infinite: Animasi berulang tanpa batas.
alternate: Arah animasi dibalik setiap kali dimulai ulang.*/

